.app{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  background:linear-gradient(to top, rgb(0, 183, 255), rgb(0, 132, 255));
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: calc((100% / 2) - 9px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
  display: none;
} 

.card{
  scroll-snap-align:start;
}

.carousel:where(.card){
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel.no-transition{
  scroll-behavior: auto;
}

.carousel.dragging{
  scroll-behavior: auto;
  scroll-snap-type: none;
}